
// ┳
// ┃┏┓┏┓┓┏╋┏     Inputs
// ┻┛┗┣┛┗┻┗┛     https://github.com/YaLTeR/niri/wiki/Configuration:-Input
//    ┛
input {
    keyboard {
        xkb { layout "us"; variant "altgr-intl"; }
        numlock // numlock on at startup
        repeat-delay 300
        repeat-rate 50
    }

    touchpad {
        off // my touchpad is current broken :"(
        // tap
        // drag true // tap and drag
        natural-scroll
        disabled-on-external-mouse
    }

    mouse {
        accel-speed -0.5     // slower mouse
        accel-profile "flat" // no mouse acceleration
    }

    // don't have one (for now?)
    trackpoint { off; }
    trackball { off; }
    touch { off; }
    tablet { off; map-to-output "eDP-1"; }

    warp-mouse-to-focus mode="center-xy" // warp cursor to the center of newly focused windows.
    focus-follows-mouse max-scroll-amount="0%" // Allow focus-follows-mouse when no scrolling
    // focus-follows-mouse max-scroll-amount="50%" // Allow focus-follows-mouse when only scrolls for half a screen
    // focus-follows-mouse max-scroll-amount="100%" // Allow focus-follows-mouse always
    // workspace-auto-back-and-forth // disabling auto back and forth for now

    mod-key "Mod5"        // my windows key broke.
    mod-key-nested "Alt"  // remapped LAlt as AltGr. RAlt as LAlt. Life is good.
}
