
// ┏┓
// ┃┃┓┏╋┏┓┓┏╋┏     Outputs
// ┗┛┗┻┗┣┛┗┻┗┛     https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
//      ┛
output "eDP-1" {
    mode "1920x1080@60"
    scale 1            // thank you for fractional scaling. I was losing my mind in Hyprland.
    transform "normal" // for rotations: normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    focus-at-startup
    background-color "#222222"
    backdrop-color "#222222"

    // note to future self: custom hot-corners/layouts per monitor.
    // I only have 1 monitor (laptop) so not for now.
}
