
// ┏┓            ┏┓
// ┗┓╋┏┓┏┓╋┓┏┏┓  ┣┫┏┓┏┓┏     Startup Applications, Services
// ┗┛┗┗┻┛ ┗┗┻┣┛  ┛┗┣┛┣┛┛
//           ┛     ┛ ┛

//=================||
//   Environment   ||
//=================||
spawn-at-startup "bash" "-c" "kbuildsycoca6"  // to generate dolphin's application preferences

//==============||
//   Services   ||
//==============||
spawn-sh-at-startup "swww-daemon &"
spawn-sh-at-startup "hyprlax $Rikai/Files/Wallpaper/Landscape/pexels-invisiblepower-1076885.jpg"
spawn-sh-at-startup "awatcher &"  // launches awatcher server
spawn-sh-at-startup "systemctl --user start hyprpolkitagent" // launchers authentication agent
spawn-sh-at-startup "systemctl --user start vikunja" // launchers authentication agent
