# systemd stuff
**/systemd/user/default.target.wants
**/systemd/user/graphical-session.target.wants
**/systemd/user/multi-user.target.wants
**/systemd/user/sockets.target.wants

# vja
.vjacli/token.json
