
// ┳┓•  •  ┏┓       ┓      ┓
// ┃┃┓┏┓┓━━┗┓┏┏┓┏┓╋┏┣┓┏┓┏┓┏┫     Niri-Scratchpad
// ┛┗┗┛ ┗  ┗┛┗┛ ┗┻┗┗┛┗┣┛┗┻┗┻     https://github.com/gvolpe/niri-scratchpad
//                    ┛
workspace "scratch"
spawn-sh-at-startup "alacritty --class \"scratchpad\""

window-rule {
    match app-id="scratchpad"
    open-on-workspace "scratch"
    open-floating true
}

window-rule {
    match app-id="wnr"
    open-on-workspace "scratch"
    open-floating true
}

binds {
	Mod+T { spawn-sh "~/bin/ns.py -id scratchpad"; };
}
