
// ┳┓•┓   •╹   ┳┓•  •  ┏┓    ┏•
// ┣┫┓┃┏┏┓┓ ┏  ┃┃┓┏┓┓  ┃ ┏┓┏┓╋┓┏┓     K. Rikaisuru. 10.21.2025.
// ┛┗┗┛┗┗┻┗ ┛  ┛┗┗┛ ┗  ┗┛┗┛┛┗┛┗┗┫     colophon: font `tmplr`. https://github.com/loreanvictor/tmplr/blob/main/font.flf
//                              ┛

//=========================||
//   Desktop Environment   ||
//=========================||

include "environment/inputs.kdl"      // input devices
include "environment/startup.kdl"     // startup applications
include "environment/variables.kdl"   // environment variables

//=============||
//   General   ||
//=============||

include "general/keybinds.kdl"        // keybinds and software picks (might separate in the future?)
