
// ┳┓•┓   •╹   ┳┓•  •  ┏┓    ┏•
// ┣┫┓┃┏┏┓┓ ┏  ┃┃┓┏┓┓  ┃ ┏┓┏┓╋┓┏┓     K. Rikaisuru. 10.21.2025.
// ┛┗┗┛┗┗┻┗ ┛  ┛┗┗┛ ┗  ┗┛┗┛┛┗┛┗┗┫     colophon: font `tmplr`. https://github.com/loreanvictor/tmplr/blob/main/font.flf
//                              ┛

//=========================||
//   Desktop Environment   ||
//=========================||

include "environment/inputs.kdl"      // input devices
include "environment/startup.kdl"     // startup applications
include "environment/variables.kdl"   // environment variables
include "environment/outputs.kdl"     // output variables

//=============||
//   General   ||
//=============||

include "general/gestures.kdl"        // miscellaneous configs
include "general/miscellaneous.kdl"   // miscellaneous configs
include "general/miscellaneous.kdl"   // overview, csd, hotkey, screenshot path

//=================||
//   Decorations   ||
//=================||
include "decorations/animations.kdl"  // animations configs
include "decorations/borders.kdl"     // rounded corners, borders, focus ring
include "decorations/layout.kdl"      // gaps, struts, width, height, presets
