
// ┓ ┏•   ┓     •           ┓  ┳┓     •
// ┃┃┃┓┏┓┏┫┏┓┓┏┏┓┏┓┏┓  ┏┓┏┓┏┫  ┣┫┏┓┓┏╋┓┏┓┏┓     Windowing and Routing
// ┗┻┛┗┛┗┗┻┗┛┗┻┛┗┛┗┗┫  ┗┻┛┗┗┻  ┛┗┗┛┗┻┗┗┛┗┗┫
//                  ┛                     ┛

//==============||
//   All Apps   ||
//==============||
// all apps by default, full size
window-rule {
	open-maximized true
	open-fullscreen false
	open-focused true
}
// half size
window-rule {
	match app-id="org.kde.dolphin"
	match app-id="FileRoller"

	default-column-width { proportion 0.5; }
}
// no focus upon opening
window-rule {
	match app-id="scratchpad"
	match app-id="easyeffects"
	match app-id="wnr"
	match app-id="foobar2000.exe"
	match app-id="com.github.kolcha.DigitalClock5"

	open-focused false
}
// no distractions
window-rule {
	match app-id="wnr"
	match app-id="com.github.kolcha.DigitalClock5"
	match app-id="zoom"

	focus-ring { off; }
    border { off; }
    shadow { off; }

    tab-indicator {
        active-color "red"
        inactive-color "gray"
        urgent-color "blue"
        // active-gradient from="#80c8ff" to="#bbddff" angle=45
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
        // urgent-gradient from="#800" to="#a33" angle=45
    }
}
// open floating
window-rule {
	match app-id="com.github.kolcha.DigitalClock5"
	open-floating true
}

//========================||
//   Workspace Specific   ||
//========================||

// `terminals` workspace. window rules don't work if you change the title, so...
window-rule {
	open-on-workspace "terminals"

	match title="btop"
	match app-id="protonvpn-app" // the community gtk
}

//  `references` workspace.
window-rule {
	open-on-workspace "references"

	match app-id="firefox"
	match app-id="okular"
	match app-id="krita"
}

//  `programming` workspace.
window-rule {
	open-on-workspace "programming"

	match app-id="dev.zed.Zed-Preview"
	match app-id="smerge"
	match app-id="subl"
}

//  `endeavors` workspace.
window-rule {
	open-on-workspace "endeavors"

	match app-id="zoom"
	match app-id="Logseq"
	match app-id="vikunja"
	match app-id="krita"
}

//  `recreation` workspace.
window-rule {
	open-on-workspace "recreation"

	match app-id="easyeffects"
	match app-id="vesktop"
	match app-id="foobar2000.exe"
}

//==========================||
//   Application Specific   ||
//==========================||

// Firefox
window-rule {
	// Open the Firefox picture-in-picture player as floating by default.
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Alacritty
window-rule {
	match app-id="Alacritty"
	open-maximized false
	default-column-width { proportion 0.3; }
}

// foobar2000
window-rule {
	match app-id="foobar2000.exe"
	open-fullscreen true
	open-floating true

	focus-ring { off; }
	border { off; }
	shadow { off; }
}

// krita
window-rule {
	match app-id="krita"
	open-maximized true
	open-fullscreen true
	open-floating true

	focus-ring { off; }
	border { off; }
	shadow { off; }
}

//==========================||
//   Screencast Exception   ||
//==========================||

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}


// zoom
window-rule {
	match title="meeting bottombar popup"
	open-floating true
	focus-ring { off; }
	border { off; }
	shadow { off; }
}

// window-rule {
// 	match app-id=""
// 	open-maximized false
// 	default-column-width { proportion 0.3; }
// }
